* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
}

.barra-lateral {
  background-color: aqua;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  gap: 0.5rem;
}

.principal {
  background-color: coral;
  padding: 1rem;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

@media (max-width: 640px) {
  body {
    flex-direction: column-reverse;
  }
  .barra-lateral {
    flex-direction: row;
    justify-content: space-around;
  }
}
